<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="返回私密">
    <meta name="author" content="Michael">
    <title>Your Post</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <script src="js/bootstrap.min.js"></script>

    <style type="text/css">
        html,
        body,
        header,
        .view {
            height: 100%;
        }
    </style>
</head>
<body>
<!--navigation bar-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/private.html">Private TreeHole</a>
            </li>
        </ul>
    </div>
    <a class="navbar-brand mx-auto" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/forum.html">Open TreeHole</a>
            </li>
        </ul>
    </div>
</nav>
<!--navigation bar-->
<!--<header>-->

<div class="view"
     style="background-image: url(/static/img/timg.jpg);background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="container">
        <div class="subtitle">
            <div class="clr"></div>
            <h3 style="color:white;text-align: center;">Check Hash:</h3>
        </div>
        <div class="clr"></div>
        <form name="searchHash" method="post" action="#">
            <label>
                <textarea name="hash" id="hashID" class="form-control" cols="250" rows="1" style="resize: none"></textarea>
            </label><br>
            <button type="button" class="btn btn-light" onclick="checkVali()">Search</button>
        </form>
    </div>

    <div class="clr"></div>
    <div class="container" style="color:white">
        <p>Your post content:</p>
        <article>
            {{ show }}
        </article>
    </div>
</div>
<!--</header>-->


<!--footer-->
<footer class="page-footer font-small bg-dark fixed-bottom">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="color:lightgray">
        © 2019 Copyright: Flag立不起来队
    </div>
    <!-- Copyright -->

</footer>
<script>
    function checkVali() {
        if (hashID.value === "") {
            alert("请输入内容再提交！");
            hashID.focus()
        } else {
            searchHash.submit()
        }
    }

</script>

</body>

</html>
