<!DOCTYPE html>
<html lang="zh-CN" xmlns:rows="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="树洞正文">
    <meta name="author" content="Michael">

    <title>Title</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">
        .container {
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }

        .clr {
            height: 20px;
        }
    </style>
</head>
<body>
<div class="blog-masthead">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/private.html">Private TreeHole</a>
                </li>
            </ul>
        </div>
        <a class="navbar-brand mx-auto" href="/.html">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/forum.html">Open TreeHole</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="clr"></div>
    <div class="container">

        <div class="row">
            <br>
            <br>
            <h1 class="blog-title">Main content</h1>
        </div>
        <div class="clr"></div>
        <div class="row">

            <div class="col-sm-8 blog-main">

                <div class="blog-post">
                    <p class="blog-post-meta" id="postedTime">Posted time:{{ posttime }}</p>
                    {{ main }}
                </div><!-- /.blog-post -->

                <div class="container">
                    <div class="comment">
                        <p><h4>Comments</h4>
                        <article>
                            {{ reply|safe }}
                        </article>
                    </div>
                </div>
                <div class="clr"></div>
                <div class="container">
                    <div class="comment">
                        <p><h4>Leave your comments here...</h4>
                    </div>
                    <br>
                    <form name="commentSubmit" method="post" onSubmit="return dosubmit()">
                        <textarea cols="60" rows="5" name="what_user_wrote" style="resize:none;"
                                  placeholder="我求你了，说点啥吧"></textarea>
                        <br>
                        <button type="button" class="btn btn-dark" onclick="checkVali()">留言</button>
                    </form>

                </div>


{#                <div class="clr"></div>#}
{#                <div class="container">#}
{#                    <button class="btn btn-dark" href="#">Previous</button>#}
{#                    <button class="btn btn-dark" href="#">Next</button>#}
{#                </div>#}

            </div><!-- /.blog-main -->

            <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
                <div class="sidebar-module sidebar-module-inset">
                    <h4>Don't be shy</h4>
                    <p>Anonymous Treehole welcomes for your post.</p>
                </div>
                <div class="sidebar-module">
                    <h4>Archives</h4>
                    <ol>
                        <li><a href="#">April</a></li>
                        <li><a href="#">May</a></li>
                    </ol>
                </div>
                <div class="sidebar-module">
                    <h4>Share with Others</h4>
                    <ol class="list-unstyled">
                        <li><a href="#">GitHub</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Facebook</a></li>
                    </ol>
                </div>
            </div><!-- /.blog-sidebar -->

        </div><!-- /.row -->

    </div><!-- /.container -->

    <!--footer-->
    <footer class="page-footer font-small bg-dark fixed-bottom">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3" style="color:lightgray">
            © 2019 Copyright: Flag立不起来队
        </div>
        <!-- Copyright -->

    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-3.4.1.min.js"></script>
    <script>
        function checkVali() {
            if (commentSubmit.what_user_wrote.value === "") {
                alert("请输入内容再提交！");
                commentSubmit.what_user_wrote.focus()
            } else {
                commentSubmit.submit()

            }
        }
    </script>
	<script>
         var isCommitted = false;//表单是否已经提交标识，默认为false
         function dosubmit(){
             if(isCommitted===false){
                 isCommitted = true;//提交表单后，将表单是否已经提交标识设置为true
                 comment.what_user_wrote.value=""
                return true;//返回true让表单正常提交
             }else{
                 return false;//返回false那么表单将不提交
             }
         }
     </script>
    <script>window.jQuery || document.write('<script src="js/jquery-3.4.1.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
</div>
</body>
</html>
